@import "tailwindcss";

@theme {
  /* --- FUENTES --- */
  --font-serif: var(--font-bodoni);
  --font-sans: var(--font-jost);

  /* --- PALETA "SMOKY NOMAD" --- */
  --color-brand-black: #11120D; 
  --color-brand-bone: #D8CFBC;
  --color-brand-olive: #565449;
  --color-brand-white: #FFFBF4;

  /* --- EXTRAS --- */
  --tracking-ultra: 0.3em;
}